@import '../../styles/variables.scss';

.leaflet-container {
  outline: none;
  -webkit-box-shadow: 9px 13px 19px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 13px 19px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 13px 19px -13px rgba(0, 0, 0, 0.75);
  position: relative;
  z-index: 2;
  height: 100%;
  border-radius: 10px;
  width: 72.5%;
  @include tablet {
    height: 380px;
    width: 100%;
  }
  @include mobile {
    height: 300px;
  }
}
